@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");


#tableColMain {
  margin: 0 auto;
  text-align: center;
}

#qrcode {
  width: 150px;
  height: 150px;
  /* Remove border */
  border: none;
  background-color: #fff;
  /* Set white background */
}

#main {
  background-color: aliceblue;
  width: 100px;
  height: 200px;
}

body {
  background-color: beige
}

#tableRow {
  margin-left: 20%;


}

.printCol {
  display: inline;
}

#dataHold {
  justify-content: center;
}

.coding {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;

}

.codeLbl {
  margin-bottom: 20px;
  text-align: center;
  align-self: center;
}


@media print {
  #main {
      visibility: hidden;
  }

  #qrcode {
      visibility: visible;
      top: 0;
  }

  input {
      visibility: hidden;
  }

  header {
      visibility: hidden;
  }

  #topHeader {
      visibility: hidden;
      display: none;
  }

  /* .div2 * { visibility: visible; } */
  /* .div2 { position: absolute; top: 40px; left: 30px; } */
  #tableRow {
      /* Target the content you want to print */
      display: inline-block;
      /* Ensure visibility during printing */
      margin: 1px;
      padding: 1px;

  }


}